﻿<!Doctype html>
<html>
<head>
    <title>Using Docker</title>

    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>

<section>
    <h1 class="underline">Setup and Run Docker</h1>
    
    <p>Download and install the latest version of Docker from <a href="https://www.docker.com/">www.docker.com</a>.  Open up Powershell or a Command Prompt and enter the following command:</p>
    <pre><span>docker --version</span></pre>
    <p>Your installation is successful if you see the version of Docker displayed in the prompt.</p>
    
    <p class="underline">To Dockerize and run the API application:</p>
    <ol>
        <li>
            Ensure your Docker is set to use Linux containers.  If you see the option to switch to Windows containers then your Docker is already using Linux containers<br />
            <img src="img/set-to-linux.jpg" />
        </li>
        <li>Open up your favorite command line terminal and navigate to the root of the wfinnovation.API project. It's the directory where the Dockerfile is located.</li>
        <li>
            Run the docker build command giving the image any name you desire. Do NOT forget the "." at the end.
            <pre><span>docker build -t {{image name}} .</span></pre>
        </li>
        <li>
            Once your image is built you should be able to see it in the list of images using the image list command.
            <pre><span>docker image ls</span></pre>
        </li>
        <li>
            Enter the command below to run the wfinnovation.api image, tagged as latest, on port 8080 in detached mode.  In detached mode the running image will not be using the current CLI window to output data.  This will allow you to do other work in the CLI window.
            <pre><span>docker -d -p 8080:80 wfinnovation.api:latest</span></pre>
        </li>
        <li>
            To stop the container you need to get the container name or ID.  You can get the container name and/or ID for all currently running containers with the following command:
            <pre><span>docker container ls</span></pre>
            <img src="img/container-name.jpg" />
        </li>
        <li>
            Once you have obtained the container name or ID, you can stop the container with the command:
            <pre><span>docker container stop {{container-name or container-id}}</span></pre>
        </li>
    </ol>
</section>

</body>
</html>