﻿<!Doctype html>
<html>
<head>
    <title>Starting Flipt</title>

    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>

    <section>
        <h1 class="underline">Starting up the Flipt UI for Feature Flagging</h1>

        <ol>
            <li>Open Powershell and navigate to the root of the wfinnovation.API project</li>
            <li>Load RunFlipt.ps1 into powershell using the command ". ./RunFlipt.ps1".</li>
            <li>Start Flipt using the command "RunFlipt".</li>
        </ol>

        <p>If you are getting errors starting flipt then you may need to share the "{{HOMEPATH}}\flipt" folder with Docker via the Docker Desktop application. your HOMEPATH is most likely "C:\Users\{your user name}\flipt".</p>

        <p>
            <strong>Alternatively</strong> you can change the file extension of the script file from ps1 to psm1 and place it into your home directory at '/Documents/WindowsPowerShell/Modules/RunFlipt'.  You can now start flipt from anywhere in powershell by importing the module and running the function:
        </p>

        <pre>
            <span>Import-Module RunFlipt</span>
            <span>RunFlipt</span>
        </pre>
    </section>

</body>
</html>